@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

body{
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #ff0001, #ff4e01, #ff7113, #ff8d2b, #ffa644, #ffae4a, #ffb550, #ffbd57, #ffb748, #ffb237, #ffac24, #ffa600);
}

.header{
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 2rem;
}

.logo{
  color: #fff;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 0.25rem;
}

figcaption::after{
  content: '';
  width: 110px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: -2px;
}

.logo i{ 
  color: red; 
  background-color: #fff; 
  padding: 0.05rem 0.1rem; 
  border-radius:0.05rem; 
  font-size: 30px;
}

.container{
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

.URL{
  width: 75vw;
  padding: 0.25rem;
  line-height: 1.5;
  margin:1.5rem 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
}

.URL:focus{ outline: none; }

.box{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
/* 
.box::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  width: 70vw;
  height: 90vh;
  border-radius: 55% 45% 56% 44% / 38% 41% 59% 62%; 
  background-color: red;
} */

.box h1{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.3rem;
  text-align: center;
}

.hidden{
  display: none;
}

.info{
  display: inline-block;
  vertical-align: middle;
}

.video iframe{
  width: 100%;
  height: 125px;
}


.form{
  width: 75vw;
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
}

.form p{
  margin: 0 0 1.5rem 0;
}

.loader {
  border: 5px solid #fff;
  border-top: 5px solid #ccc; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}


.title{
  font-weight: 500;
  font-size: 1rem;
}

.duration{
  width: 100%;
  background:#000;
  text-align: center;
  padding: 0.75rem;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  color:#fff;
}

.options{
  width: 100%;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
}

.qualities, .download{
  width: 45%;
  line-height: 1.5;
  background: black;
  color: #fff;
  padding: 0.5rem 0.25rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.download:hover{
  background-color: #ff0001;
}

.qualities:focus,.download:focus{
  outline: none;
}

.send{
  background:transparent;
  font-size: 1rem;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  color:rgb(224, 222, 222)
}

.send:hover{
  color:#fff
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width:600px) {
  .URL{ width: 50vw; }
  .video iframe{ height: 200px;}
}

@media (min-width: 1000px) {
  .video{ width: 50vw; }
  .video iframe{ height: 250px;}
  .title{ font-size: 1.4rem;}
  .form{ flex-direction: row;}
}